.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-img {
    width: 80%;
    margin: 0;
    margin-top: -15%;

    @media (max-width: 360px - 1px) {
      padding: 20px;
    }
  }

  .about-text {
    max-width: 800px;
    margin-top: -20% !important;
    font-size: 1.25em;

    @media (max-width: 360px - 1px) {
      margin: 5px 0 !important;
    }
  }
}
